<mat-toolbar>
  <span><a routerLink='/'>
    <img src="assets/images/indivisual_sizex2.png">
  </a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a class="create" routerLink='/create'>create post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
        <a class="login" routerLink='/login'>log in</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
        <a class="signup" routerLink='/signup'>sign up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
        <button mat-button>log out</button>
    </li>
  </ul>
</mat-toolbar>

