ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

li a, li button{
  padding: 0px 10px;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

li a:hover{
  border: solid none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(46, 46, 46);
  color: rgb(255, 193, 203);
}

li button:hover {
  border: solid none;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  color: rgb(255, 193, 203);
}

/* a {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  font-size: 1rem;
} */
/*
.logout {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0px 10px;
}

.logout:hover {
  border: solid none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(46, 46, 46);
  color: rgb(255, 193, 203);
} */

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: black
}

img {
  width: 33%;
  height: 33%;
}

/* .create {
  font-size: 75%;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%,-50%);
  padding: 0.5rem;
}

.create:hover {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgb(46, 46, 46);
  color: rgb(255, 193, 203);
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%,-50%);
}

.login {
  font-size: 75%;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  right: 0%;
  margin-left: 5px;
  transform: translate(-50%,-50%);
  padding: 0.5rem;
}

.login:hover {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgb(46, 46, 46);
  color: rgb(255, 193, 203);
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%,-50%);
} */
