<div>
  <h1> Welcome to Indivisual!</h1>
  <p> Here's how it works (it's simple!). Think instagram, but without "influencers", ads, and all the other bs. The goal of indivisual is to provide a social space online to share what makes you feel positive, and most like an individual - and to see what makes others feel the same about themselves. </p>
  <p> Now that you're signed up, you can not only view others' posts, but you can create your own. Click on the "create post" button in the toolbar to get started! </p>
</div>
