<mat-card class="card">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form
    (submit)="onSignup(signupForm)"
    #signupForm="ngForm"
    *ngIf="!isLoading"
    >
      <mat-form-field>
        <input
        name="email"
        ngModel
        #emailInput="ngModel"
        matInput
        type="email"
        placeholder="Email Address"
        required
        email
        >
        <mat-error *ngIf="emailInput.invalid">Please enter your email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        name="password"
        ngModel
        #passwordInput="ngModel"
        matInput
        type="password"
        placeholder="Password"
        required
        >
        <mat-error *ngIf="passwordInput.invalid"> Please enter a password.</mat-error>
      </mat-form-field>
      <button
      type="submit"
      mat-raised-button
      color="accent"
      > Sign Up
      </button>
    </form>
  </mat-card>
