<mat-card class="card">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
  [formGroup]="form"
  (submit)="onSavePost()"
  *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      name="title"
      type="text"
      formControlName="title"
      placeholder="Name"
      >
      <mat-error *ngIf="form.get('title').invalid">Please enter your name.</mat-error>
    </mat-form-field>
    <br/>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Add Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field class="contentContainer">
      <!-- <p class="contentPrompt">I'm happiest when I'm</p> -->
      <span matPrefix
      style="text-decoration: none"
      >I'm happiest when I'm... &nbsp;</span>
      <mat-label><mat-icon>edit</mat-icon> <i> click to finish </i></mat-label>
      <input
      class="contentInput"
      matInput
      matInput placeholder="ex. outdoors"
      type="text"
      formControlName="content"
      name="content"
      >
      <mat-error *ngIf="form.get('content').invalid"> Please enter some content for your post.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
        class="contentInput2"
        matInput
        matInput placeholder="tell us more, if you'd like!"
        type="text"
        formControlName="content2"
        name="content2">
    </mat-form-field>
    <br/>
    <button
    type="submit"
    mat-raised-button
    color="accent"
    >Save Post
    </button>
  </form>
</mat-card>
