mat-card {
  width: 50%;
  margin: 1rem auto;
}

button {
  margin: auto;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
}

/* .contentPrompt {
  width: 30%;
  float: left;
} */

span {
}
/* .contentInput {
  width: 90%;
  float: right;
} */
