mat-card {
  margin-top: 1rem;
}

button {
  margin: auto;
}

mat-form-field {
  width: 100%;
}

/* .contentPrompt {
  width: 30%;
  float: left;
} */

span {
}
/* .contentInput {
  width: 90%;
  float: right;
} */
